/**********************************/
/* Variáveis
/**********************************/
:root {
	--clr-bg-light: #f5f5f5;
	--clr-bg-dark: #111111;
	
    --clr-text: #fff8e5;
    --clr-text-news: #000;

	--clr-bg: #fff8e5;
	--clr-title: #B50000;
	
	--clr-main: #B50000;

	--ff: "Open Sans", sans-serif;
	--ts-heading-1: 700 4rem/1.2 var(--ff);
	--ts-heading-2: 700 3.3rem/1.2 var(--ff);
	--ts-heading-3: 700 2.7rem/1.2 var(--ff);
	--ts-heading-4: 700 2.3rem/1.2 var(--ff);
	--ts-heading-5: 700 1.9rem/1.2 var(--ff);
	
	--ts-caption: 600 1.6rem/1.2 var(--ff);
	--ts-normal: 400 1.6rem/1.2 var(--ff);
	--ts-semibold: 600 1.4rem/1.2 var(--ff);

	--transition: all 0.3s linear;
	--center-block: calc(((100% - 117rem + 3.2rem) / 2));
}

/**********************************/
/* Estilos gerais
/**********************************/
* {
    margin: 0;
    padding: 0;
}

*, ::before, ::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font: var(--ts-normal);
    min-width: fit-content;
    color: var(--clr-title);
    background-color: var(--clr-bg);
    filter: sepia(.1);
    transition: all .5s ease-out;
    
}

.btn {
    background-color: var(--clr-bg-dark);
    color: var(--clr-text);
    font: var(--ts-caption);
    text-transform: uppercase;

    padding: 1.6rem;
    border: none;
    cursor: pointer;
    transition: var(--transition);
}

.btn:hover {
    background-color: var(--clr-bg-light);
    color: var(--clr-bg-dark);
}

.btn--large {
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    text-indent: 1.5em;
    text-align: justify;
    color: var(--clr-text);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

footer {
    background-color: var(--clr-main);
    color: var(--clr-text);
    margin-top: 3rem;
}

/**********************************/
/* Grid
/**********************************/

main {
    width: 70%;
    margin: auto;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
/* collunns */
.left {
    width: 70%;
}

.right {
    width: 30%;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.--sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    left: -10000px;
}

@media screen and (min-width: 960px) {
    main {
        grid-template-columns: repeat(3, 37rem);
    }

    footer {
        padding: 1.6rem var(--center-block);
    }
}


/**********************************/
/* Dark Mode
/**********************************/

.dark-mode {
    /* buttons */
    --clr-bg-light: #f5f5f5;
	--clr-bg-dark: #111111;
	
    --clr-text-news: #fff8e5;
    --clr-text: #fff8e5;

	--clr-bg: #121212;
	--clr-title: #ff6868;

	--clr-main: #232323;
}

/**********************************/
/* Navbar
/**********************************/

.navbar {
    width: 100%;
    display: flex;
    padding: 1.6rem;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.navbar__logo {
    width: 50rem;
}

.navbar-options {
    gap: 50px;
    display: flex;
    list-style-type: none;
}

.navbar-options li {
    font-size: 28px;
    font-weight: 800;
    color: var(--clr-text);
}

@media screen and (min-width: 1170px) {
    .navbar {
        padding: 1.6rem var(--center-block);
    }

    .navbar__buttons {
        display: flex;
        gap: .8rem;
    }

    .social-icon {
        display: block;
        color: var(--clr-text);
        font-size: 4.2rem;
        width: 4.8rem;
        height: 4.8rem;
        text-align: center;
        padding-top: .3rem;
        cursor: pointer;
        transition: var(--transition);
    }

    .social-icon:hover {
        background-color: var(--clr-bg-light);
        color: var(--clr-bg-dark);
    }
}

/**********************************/
/* Hero
/**********************************/

.hero {
    width: 100%;
    height: 100vh;
    color: var(--clr-text);
    background-color: var(--clr-bg-dark);
    background: url("../assets/hero.jpg") no-repeat center center/cover;
}

.main-news {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.main-news__title {
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
}

.main-news__description {
    max-width: 60ch;
    line-height: 1.5;
}

@media screen and (min-width: 1170px) {
    .main-news {
        padding: 11.4rem var(--center-block);
    }
}

/**********************************/
/* Ticker
/**********************************/

.news-ticker {
    padding: 0 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ticker {
    display: flex;
}

.ticker__title {
    background-color: var(--clr-main);
    color: var(--clr-bg-light);
    font: var(--ts-caption);
    text-transform: uppercase;
    padding: .8rem;
}

.ticker-list {
    position: relative;
    margin-left: 1.6rem;
}

.ticker-list__item {
    position: absolute;
    width: 33ch;
    top: .8rem;
    left: -4rem;
    opacity: 0;
    transition: var(--transition);
    pointer-events: none;
    z-index: -1;
}

.ticker-list__item--show {
    left: 0;
    opacity: 1;
    pointer-events: auto;
}

.ticker-buttons__btn-prev, .ticker-buttons__btn-next {
    border: .1rem solid var(--clr-title);
    width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 1.2;
    font-size: 2.4rem;
    opacity: .5;
    cursor: pointer;
}

.ticker-buttons__btn-prev:hover, .ticker-buttons__btn-next:hover {
    opacity: 1;
}

@media screen and (min-width: 1170px) {
    .container {
        width: 117rem;
        margin: 3rem auto;
    }
}

/**********************************/
/* Banners
/**********************************/

.banner-daily-bugle {
    padding: 0 1.6rem;
}

.banner-blip-blog {
    width: 100%;
    margin: 1.6rem 0;
}

/**********************************/
/* Ad
/**********************************/

.ads {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.ad {
    position: relative;
    justify-self: center;
}

.ad::before {
    content: "Ad";
    position: absolute;
    bottom: -1.6rem;
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
    opacity: .5;
}

@media screen and (min-width: 600px) {
    .ads {
        justify-content: space-between;
        margin: 0 1.6rem;
    }
}

/**********************************/
/* Footer
/**********************************/

.footer-sections {
    padding: 0 1.6rem;
    display: grid;
    gap: 100px;
}

.footer__section-title {
    font: var(--ts-heading-3);
    text-transform: uppercase;
    margin-bottom: .8rem;
}

.footer-newsletter__enmail {
    width: 100%;
    padding: 1.6rem;
    margin: 3.2rem 0 .8rem;
}

.footer-newsletter__enmail::placeholder {
    font: var(--ts-normal);
}

.footer-links__item {
    padding: .8rem;
}

.footer-links__item + .footer-links__item {
    border-top: .1rem solid var(--clr-title);
}

.footer-club__description {
    margin-top: .8rem;
    margin-bottom: 3.2rem;
}

@media screen and (min-width: 600px) {
    .footer-sections {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 960px) {
    .footer-sections {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1170px) {
    .footer-sections {
        padding: 0;
    }
}

/**********************************/
/* Featured News
/**********************************/

.featured-news {
    display: flex;
    flex-wrap: wrap;    
    border-bottom: 1px solid var(--clr-main);
}

.featured-news__thumb__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.featured-news__thumb {
    flex: 1;
}

.featured-news-excerpt {
    flex: 1;
    padding: 1.6rem;
}

.featured-news-excerpt__title {
    font: var(--ts-caption);
    text-transform: uppercase;
    color: var(--clr-title);
    margin-bottom: 1.6rem;
}

.featured-news-excerpt__description {
    text-align: justify;
    color: var(--clr-text-news);
}

@media screen and (min-width: 960px) {
    .featured-news {
        grid-column: span 2;
        flex-wrap: nowrap;
        gap: 30px;
    }

    .featured-news__thumb {
        width: 33.5rem;
    }

    .featured-news-excerpt__description {
        width: 40ch;
    }
}

/**********************************/
/* Join Our Club
/**********************************/

.club {
    background-color: var(--clr-main);
    color: var(--clr-text);
    padding: 1.6rem;
}

.club__title {
    font: var(--ts-heading-3);
    text-transform: uppercase;
    margin-bottom: .8rem;
}

.club__description {
    width: 33ch;
    margin-bottom: 3.2rem;
}

@media screen and (min-width: 960px) {
    .club {
        align-self: end;
    }
}

/**********************************/
/* News
/**********************************/

.news-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.news {
    flex: 1;    
    gap: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1.6rem 0;
    padding: 1em 0;
}

.news__thumb {
    width: 100px;
    height: 300px;
    object-fit: cover;
}
.news-excerpt {
    border-bottom: 1px solid var(--clr-main);
}

.news-excerpt__title {
    font: var(--ts-caption);
    text-transform: uppercase;
    color: var(--clr-title);
    width: 25ch;
}

.news-excerpt__description {
    height: 200px;
    color: var(--clr-text-news);
    text-align: justify;
}

@media screen and (min-width: 600px) {
    .news-excerpt__description {
        width: 33ch;
    }
}

@media screen and (min-width: 960px) {
    .news-excerpt__description {
        width: 25ch;
    }
}

/**********************************/
/* Slider
/**********************************/

.splide {
    background-color: var(--clr-main);
    margin-bottom: 1.6rem;
}

.splide-slide-info {
    padding: 1.6rem;
    color: var(--clr-text);
    margin-bottom: 3.2rem;
}

.splide-slide-info__title {
    font: var(--ts-heading-4);
    margin-bottom: .8rem;
}

.splide__arrow {
    background-color: var(--clr-bg-dark);
    border-radius: 0;
    top: 34%;
}

.splide__arrow svg {
    fill: var(--clr-bg);
}

.splide__arrow:hover svg {
    fill: var(--clr-title);
}

/**********************************/
/* Carrousel
/**********************************/

.carousel {
    position: relative;
    width: 100%;
    height: 500px;
    margin-top: 1.6em;
    overflow: hidden;
    background-color: #cdcdcd;
}

.carousel-item .slide-image {
    width: 100%;
    height: 500px;  
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-item {
    position: absolute;
    width: 100%;
    height: 270px;
    border: none;
    top: 0;
    left: 100%;
}

.carousel-item.active {
    left: 0;
    transition: all 0.3s ease-out;
}

.carousel-item div {
    height: 100%;
}

/**********************************/
/* Tabs
/**********************************/

.tab-header {
    display: flex;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
}

.tab-header__item {
    cursor: pointer;
}

.tab-header__title {
    background-color: var(--clr-main);
    color: var(--clr-text);
}

.tab-header__item, .tab-header__title {
    padding: .8rem;
    border-bottom: .1rem solid var(--clr-main);
}

.tabs {
    position: relative;
    background-color: aqua;
}

.tab-indicator {
    position: absolute;
    background-color: var(--clr-main);
    width: 5rem;
    height: .3rem;
    left: 10rem;
    top: 3.3rem;
    transition: var(--transition);
}

.tab-body {
    position: relative;
    min-height: 46rem;
}

.tab-body__content {
    position: absolute;
    left: -4rem;
    opacity: 0;
    pointer-events: none;
    transition: var(--transition);
}

.tab-body__content--active {
    left: 0;
    opacity: 1;
    pointer-events: auto;
}

@media screen and (min-width: 600px) {
    .tab-body {
        min-height: 52rem;
    }
}